<head>
	<style>
		.inner {
			color: #000;
			font-family: "Georgia", Times, serif;
		}
		.inner p {
			color:#222;
			font-size:15px;
		}
		.inner h3 {
			font-size:16px;
			font-weight:bold;
			text-decoration: underline;
			margin-bottom:15px;
		}
		.image {
			margin-right:10px;
			margin-bottom:10px;
		}
	</style>
</head>	

<body>
	<div id="content" class="home">
		<div class="inner">
			<div id="logo" class="section logo">
				<%= image_tag "logo.png" %>
			</div>
		
			<h2><span>Mission and History</span></h2>
			
			<p style="text-align:center">Through prevention, education, and treatment programs, Corner House promotes the health and well-being of Princeton area young people and their families, as they confront substance abuse and other emotional issues.</p>
			
			<p style= "background:#939905; text-align:center">
					Helping young people face the tough issues&hellip; and working together on community-based solutions.
			</p>
			<p>&nbsp;</p>
			
			<div class="columns">
				<div class="two-left" style="width:670px;">
					<h3>Since 1972, A Dual Commitment to Prevention and Treatment</h3>
					<p>Established 36 years ago, as a joint agency of Princeton Borough and Township, Corner House, a non-profit counseling center for adolescents, young adults, and their families, has been the leading force in the community&rsquo;s response to substance abuse and family crisis issues. As in the beginning, we remain dedicated to providing quality programs in a warm, friendly, and supportive environment. Our treatment and prevention programs are open to the entire community and no one is ever turned away because they are unable to pay for services.</p>
					<br />
					<p>Corner House operates extensive prevention and outreach programs. Our focus is on seeing young people reach their full potential by having a positive self image and learning the coping skills necessary to deal with a wide range of personal and social pressures. </p>
				</div>
				<div class="two-right" style="width:250px">
					<%= link_to (image_tag "vid_stills/chintro.png", :title=>"View Doug Myers' short documentary on Corner House...", :width=>"250", :height=>"187"), "#changeme" %>
				</div>
				
				<div style="clear: both;"></div>
			</div>
			
			<div>
				<p>
					<%= image_tag "snaps/first_corner_house.png", :title => "The first Corner House, depicted above, sat at the corner of Witherspoon and Henry Sts., Princeton, NJ. The agency is currently located at 369 Witherspoon Street, at the corner of Valley Road and Witherspoon St.", :width=>"440", :height=>"334", :class=>"image right" %>
					<p>
						The teens and young adults who seek services at Corner House are struggling with problems ranging from difficulties at home and at school to alcohol and drug addiction. Our staff of professional counselors has the particular expertise needed to address these challenges with innovation and insight.
					</p>
					<br />
					<h3>A Little History</h3>
					<p>
						In the summer of 1972 Nancy Gryzbek and Dr. Shirley Van Ferney opened the doors of Corner House. Situated at the &ldquo;corner&rdquo; of Witherspoon and Henry Streets, the agency was started by a group of Princeton residents hoping to find a way to help the youth in their community deal with substance use and abuse issues. Dr. Van Ferney was known in the community for having a home where teens could find refuge &ndash;a place to talk and feel safe. To this day that feeling remains characteristic of the agency&rsquo;s appeal to adolescents, young adults, and their families.
					</p>
					<br />
					<p>
						A hybrid from the beginning, Corner House was originally funded by Princeton Borough and Princeton Township, along with a treatment grant from Mercer County. The Princeton Medical Center, concerned with the rising drug and alcohol problems in Princeton, leased the little corner house to the agency for $1 per year. Conceived of as the Princeton Drug Program, Corner House was so-named because its founding &ldquo;parents&rdquo; proposed a &ldquo;non-defining&rdquo; name. Most importantly it was to be defined as a &ldquo;place where caring people-professional[s] and non-professionals [would] offer a variety of services to drug users and their families.&rdquo; The central intention from the beginning was to build a cooperative network of services.
					</p>	
					<br />
					<p>
						<%= image_tag "snaps/nancy.png", :caption=>"nancy", :width=>"440", :height=>"335", :class=>"image left" %>
						<p>
							Only half of the little house on the corner was heated for use in the winter of 1972-73, and the entire budget for the agency was $32,500. While the town councils dealt with the budgetary concerns of the new operation, the Intergovernmental Drug Committee oversaw the program development. That committee eventually transformed into the Princeton Alcohol and Drug Alliance, otherwise known as PADA. As increased funds were required to fuel the growing agency, a core of Princeton residents created the Corner House Foundation, where private monies are raised from the Princeton community through an annual direct mail campaign, galas and benefit events, as well as other efforts.
						</p>
						<br />
						<p>
							In 2006, after the Corner House Board was created to provide recommendations to both the Princeton Township Committee and the Princeton Borough Council concerning the operations and administration of Corner House, the PADA was &ldquo;reconstituted&rdquo; to function solely as the community&rsquo;s Municipal Alliance Committee.
						</p>
						<br />
						<p>
							Currently, Corner House has a $1 million budget, with funding from Princeton Township, Princeton Borough, the State of New Jersey, Mercer County, Princeton Regional Schools, private donors through the Corner House Foundation, and several area corporations and foundations. The agency is housed at 369 Witherspoon Street.
						</p>
					</p>
				</p>
			</div>
				
		</div>
	</div>
</body>